venv/
__pycache__/
*.pyc
.DS_Store

data/videos/

database/*.db
database/*.sqlite
database/*.sqlite3

output/*.mp4
output/*.avi
output/*.mov
output/*.txt

logs/
logs/entries/
logs/exits/

models/*.pt
models/*.onnx
models/*.pth

.env
models/yolo-face
